@import "./header.css";
@import "./userprofile.css";
@import "./moviesdetails.css";
@import "./loginform.css";
@import "./registerform.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292a2b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  color: white;
}
p {
  color: white;
}
h1 {
  color: white;
}
/* ---------------MOVIES AND CONTAINER MOVIES */

.container-movies {
  display: flex;
  overflow-x: scroll;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.container-movies a {
  border-radius: 2px;
  border: 2px solid blue;
  border-radius: 8px;
  max-width: 300px;
  padding: 20px;
  margin: 15px 15px 0 0;
}

.movie-title {
  font-size: 18px;
  padding: 20px;
}

.moviesContainer {
  display: flex;
  flex-direction: column;
}

.carrouselMovies {
  display: flex;
  overflow-x: scroll;
}

.cardMovie {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.cardMovie img {
  height: 300px;
}
/* HOME --------- HERO HOME  */

.herohome {
  /* width: 100%; */
  height: 250px;
  background-image: url("../s-tsuchiya--BoYvgZlbpo-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.herohome {
  padding: 40px;
  font-family: "roboto";
}
