.containerLoginForm {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  height: calc(100vh - 400px);
}

.containerLoginForm form {
  /* margin: 0 auto;
 
  height: 200px; 
  /* height: fit-content;
  max-height: 500px; */
  width: 30%;
  /* width: fit-content; */
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  min-height: 300px;
  border: 2px solid #070a1b;
  border-radius: 12px;
}

.containerLoginForm form div {
  display: flex;
  flex-direction: column;
}

.containerLoginForm form div label {
  color: white;
}

.containerLoginForm form div input {
  max-width: 800px;
}

.loginbtn {
  margin: 10px auto;
}

.registerbtn {
  border: 2px solid green;
  border-radius: 8px;
  width: fit-content;
  padding: 10px;
}
