.user-profile-container {
}

.user-header {
  width: 80%;
  margin: 0 auto;
  background-image: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGFyayUyMHNvbGlkJTIwcGF0dGVybnMlMjBkZXNrdG9wfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  min-height: 200px;
}

/* .user-header h1 {
  margin: 0;
} */

.favotireIcon:hover {
  transform: scale(1.1);
  transition: 0.2s all;
}
